---
name: Linter

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Super-Linter
        uses: github/super-linter@v4.5.0
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_ALL_CODEBASE: false
          VALIDATE_YAML: true
          # superlinter sucks for golang
          # VALIDATE_GO: true
          VALIDATE_MARKDOWN: true
          # VALIDATE_DOCKERFILE: false
          # VALIDATE_DOCKERFILE_HADOLINT: false
          # VALIDATE_BASH: false
